/* [0] Global Style */
h1{ font-family: 'Gamja Flower', sans-serif; font-size: 64px; }

h2{ font-family: 'Gamja Flower', sans-serif; font-size: 32px; text-align: center;}

h3{ font-family: 'Fredoka', sans-serif; font-size: 24px; font-weight: 400; }

body{
    background-color: #E9E9E7;
    color: #565962;
    font-family: 'Fredoka', sans-serif;
    padding-top: 50px;
}

/* [1] Navigation Layout & Components */
nav{
    font-family: 'Gamja Flower', sans-serif;

    max-width: 600px;
    margin: 50px auto;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #787b86;
    border-radius: 20px;
}

nav a{
    text-decoration: none;
    color:#E9E9E7
}

.nav-container{
    display: flex;
    gap: 50px;
    padding: 5px 20px;
}

header{
    text-align: center;
}

header h3{
    color: #888c97;
}

/* [2] Section Layout & Components */
section{
    max-width: 1000px;
    margin: 20px auto;
    padding-bottom: 25px;
}

#hiring{
    border-top: 1px solid #7C7F88;
}

    /* [2.1] Section Grid Layout - Cat Card Feature */
    /* WORK IN PROGRESS TO-DO */
    .cat-grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* testing stuff */
        gap: 20px;
        margin-top: 20px;
    }

    .cat-card{
        background:#f0f0ec;
        border-radius:12px;
        padding:10px;
        text-align:center;
    }

    .cat-img{
        max-width: 65%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        border-radius: 10px;
    }

    .cat-name{font-weight:600;}

    .cat-role{font-weight:450; margin:4px 0;}

    .real-role{font-size:14px; opacity:0.7;}

    .cat-breed, .cat-origin{font-size:14px;}

